:root {
    --primary-color: indianred;
}

body {
    background-color: var(--primary-color);
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header {
    color: white;
    padding:1rem;
}


.textarea {
    min-width: 500px;
    max-height: 50px;
    padding: 0.5rem 1rem;
}

.btn {
    padding: 0.60rem 2rem;
    border-radius: 0.25rem;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}


.error-box{
padding-top: 2rem;
min-height: 1.5rem;
   
}

.container{
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.tasks {
    width: 40vh;
    position: relative;
    margin-top: 40px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.3);
            box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    padding: 30px 20px;
    border-radius: 5px;
 }
 
 .task {
     width: 60vh;
     background: #ffffff;
     height: 50px;
     padding: 5px 10px;
     border-radius: 0px;
     margin-top: 10px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     cursor: pointer;
     border-bottom: 2px solid #d1d3d4;
 }
 .task span {
     font-family: 'Poppins',sans-serif;
     font-size: 15px;
     font-weight: 400;
     cursor: pointer;
 }
 .task button {
     border: none;
     height: 100%;
     width: 40px;
     color: #ffffff;
     border-radius: 5px;
     cursor: pointer;
 }
 .completed{
     text-decoration: line-through;
 }

 .delete{
     background-color: var(--primary-color);
 }